In [1]:
#Programming_Assignment_1
#1.	Write a Python program to convert kilometers to miles?

In [12]:
#value tp convert Miles into Kilometers
conv_val = 0.621371
kms= int(input("enter the kilometers to convert into Miles: "))
Miles = conv_val*kms
print("No of Miles for given Kilometers are: ",Miles)

enter the kilometers to convert into Miles: 100
No of Miles for given Kilometers are:  62.137100000000004

In [13]:
#2.	Write a Python program to convert Celsius to Fahrenheit?

In [2]:
celsius_val = float(input("enter celsius value to convert: "))
Fahrenheit_val = (celsius_val * 1.8) + 32
print("Fahrenheit value is: ",Fahrenheit_val)

enter celsius value to convert: 45
Fahrenheit value is:  113.0

In [6]:
#3.	Write a Python program to display calendar?
import calendar
year=2022
month=12
print(calendar.month(year,month))
print(calendar.calendar(year))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [16]:
#4.	Write a Python program to solve quadratic equation?
import cmath
a=int(input("enter a value: "))
b=int(input("enter b value: "))
c=int(input("enter c value: "))
val1 = b**2 - 4*a*c
squareroot_val = cmath.sqrt(val1)
quad_eq_postive_val = (-(b) + squareroot_val)/(2*a)
quad_eq_negative_val = (-(b) - squareroot_val)/(2*a)
print("Positive X value is: ",quad_eq_postive_val)
print("Negative X value is: ",quad_eq_negative_val)

enter a value: 2
enter b value: 2
enter c value: 1
Positive X value is:  (-0.5+0.5j)
Negative X value is:  (-0.5-0.5j)

In [17]:
#5.	Write a Python program to swap two variables without temp variable?
a=int(input("enter value for a: "))
b=int(input("enter value for b: "))
a=a+b
b=a-b
a=a-b
print("a value is :",a)
print("b value is :",b)
#2nd method:
c=input("enter c value: ")
d=input("enter d value: ")
c,d=d,c
print("c value is: ",c)
print("d value is: ",d)

enter value for a: 12
enter value for b: 45
a value is : 45
b value is : 12
enter c value: Inueron
enter d value: Intelligence
c value is:  Intelligence
d value is:  Inueron